body{
    background-color:#a3d4eb;
   xbackground-image:url(https://i.pinimg.com/originals/db/b5/9d/dbb59d737ed38a46a30a7a638fa0c77a.jpg);
   background-repeat: no-repeat;
    background-size: cover;
   text-align: center;
     }
h1{
    color:rgb(204, 121, 121);
    text-align: center;
    text-decoration: darkcyan;
   size: 100px;
   font-size: 150px;
   text-align: center;
   font-family: 'Praise', cursive;  
     
         
         text-shadow: 5px 4px white;
     }
h2{

 color:rgb(204, 121, 121);
 font-size: 100px;
 text-shadow: 5px 4px white;
 font-family: 'Praise', cursive;
 text-align: center;
}
li{
  color: rgb(255, 255, 255);
  font-size: 30px;
  text-align: justify;
  cursor: pointer;
    
}  
h3{
  color:rgb(204, 121, 121);
 font-size: 100px;
 text-shadow: 5px 4px white;
 font-family: 'Praise', cursive;
 text-align: center;
 } 
div{

 color: white;
 } 

p{
 font-size: 25px;
 color: white;
 text-align: justify;
}
header{
 color: blanchedalmond;
 font-size: 50px;
 text-shadow: 5px 5px 5px rgb(253, 253, 253);
 box-shadow: 5px 5px white;
 font-family: 'Praise', cursive;}
div{
 background-color: rgb(204, 121, 121);
 width:600px;
 /* left: 100px; */
 margin: 0 auto ;
 padding: 50px;
 height:200px;
 /* size: 100px; */
 box-shadow: 5px 5px 5px white;
 border-radius: 10px;
 
 
  ;
  background-image: url();
 

}
div:hover{
  transform: scale(1.2, 1.2)
}
#barra{
 margin-top: 30px;
 margin-bottom: 20px;
}
h4{color: rgb(204, 115, 115);
 font-size: 100px;
 text-align: center;
 font-family: 'Praise', cursive;
 text-shadow: 5px 4px white;
}
inframe{
 text-align: justify;
}
#fotinha{
 border-radius:200px;
 width: 400px;
}
#github{
 border-radius: 100px;
 width:100px;

}
#youtube {
 border-radius: 100px;
 width:100px;

}
h5{
 color:rgb(204, 121, 121);
 font-size: 80px;
 text-shadow: 5px 4px white;
 font-family: 'Praise', cursive;
 text-align: center;
}
li:hover{
  background-color: rgb(253, 203, 255);
}
figure {
  margin: 0;
  color: rgb(255, 255, 255);
}
#githubinho{
  background-color: rgb(204, 121, 121);
 width:500px;
 /* left: 100px; */
 margin: 0 auto ;
 padding: 50px;
 height:300px;
 /* size: 100px; */
 box-shadow: 5px 5px 5px white;
 border-radius: 10px;
}
nav ul{
  background-color: rgb(197, 187, 196);
width: 3000px;
height: 100px;
display: flex;
justify-content: space-evenly;
opacity: 0.7;
padding: 0%;



}
